<template>
  <div class="footer">
    <div class="separateur">
       <div></div>
    </div>
    <a href="../.." class="home">
      <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.6821 5.37053L4 11.8953V18.9375C4 19.1198 4.07024 19.2947 4.19526 19.4236C4.32028 19.5526 4.48985 19.625 4.66666 19.625L9.33583 19.6125C9.51206 19.6116 9.68078 19.5388 9.80508 19.41C9.92939 19.2811 9.99916 19.1068 9.99916 18.925V14.8125C9.99916 14.6302 10.0694 14.4553 10.1944 14.3264C10.3194 14.1974 10.489 14.125 10.6658 14.125H13.3325C13.5093 14.125 13.6789 14.1974 13.8039 14.3264C13.9289 14.4553 13.9992 14.6302 13.9992 14.8125V18.922C13.9989 19.0125 14.0159 19.1021 14.0493 19.1858C14.0827 19.2694 14.1318 19.3455 14.1937 19.4095C14.2556 19.4736 14.3292 19.5244 14.4102 19.5591C14.4912 19.5938 14.5781 19.6117 14.6658 19.6117L19.3333 19.625C19.5101 19.625 19.6797 19.5526 19.8047 19.4236C19.9298 19.2947 20 19.1198 20 18.9375V11.8906L12.3196 5.37053C12.2293 5.29548 12.1168 5.25455 12.0008 5.25455C11.8849 5.25455 11.7724 5.29548 11.6821 5.37053ZM23.8167 9.80534L20.3333 6.84436V0.892761C20.3333 0.756009 20.2806 0.624858 20.1869 0.528159C20.0931 0.431461 19.9659 0.377136 19.8333 0.377136H17.5C17.3674 0.377136 17.2402 0.431461 17.1464 0.528159C17.0527 0.624858 17 0.756009 17 0.892761V4.01272L13.2696 0.847644C12.9116 0.543846 12.4624 0.377744 11.9987 0.377744C11.5351 0.377744 11.0859 0.543846 10.7279 0.847644L0.180832 9.80534C0.130202 9.84849 0.0883135 9.90151 0.0575602 9.96137C0.0268068 10.0212 0.00779137 10.0867 0.00160029 10.1542C-0.0045908 10.2216 0.00216383 10.2897 0.0214782 10.3544C0.0407926 10.4191 0.0722882 10.4793 0.114165 10.5315L1.17667 11.8635C1.21843 11.9159 1.2698 11.9593 1.32783 11.9911C1.38586 12.023 1.44942 12.0428 1.51487 12.0493C1.58032 12.0558 1.64636 12.0489 1.70923 12.0291C1.7721 12.0092 1.83055 11.9768 1.88125 11.9336L11.6821 3.60882C11.7724 3.53376 11.8849 3.49283 12.0008 3.49283C12.1168 3.49283 12.2293 3.53376 12.3196 3.60882L22.1208 11.9336C22.1714 11.9768 22.2298 12.0092 22.2926 12.0292C22.3554 12.0491 22.4213 12.056 22.4867 12.0497C22.5521 12.0433 22.6157 12.0237 22.6737 11.992C22.7317 11.9602 22.7831 11.917 22.825 11.8648L23.8875 10.5328C23.9293 10.4803 23.9607 10.4198 23.9798 10.3548C23.9989 10.2898 24.0053 10.2215 23.9987 10.1539C23.9921 10.0863 23.9727 10.0207 23.9414 9.96088C23.9102 9.90106 23.8678 9.8482 23.8167 9.80534Z" fill="#000091"/>
      </svg>
    </a>
    <a href="../../ressource" class="book">
      <svg width="19" height="22" viewBox="0 0 19 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 15.4688V1.03125C19 0.459766 18.5462 0 17.9821 0H4.07143C1.82366 0 0 1.84766 0 4.125V17.875C0 20.1523 1.82366 22 4.07143 22H17.9821C18.5462 22 19 21.5402 19 20.9688V20.2812C19 19.959 18.8516 19.6668 18.6225 19.4777C18.4444 18.816 18.4444 16.9297 18.6225 16.268C18.8516 16.0832 19 15.791 19 15.4688ZM5.42857 5.75781C5.42857 5.61602 5.54308 5.5 5.68304 5.5H14.6741C14.8141 5.5 14.9286 5.61602 14.9286 5.75781V6.61719C14.9286 6.75898 14.8141 6.875 14.6741 6.875H5.68304C5.54308 6.875 5.42857 6.75898 5.42857 6.61719V5.75781ZM5.42857 8.50781C5.42857 8.36602 5.54308 8.25 5.68304 8.25H14.6741C14.8141 8.25 14.9286 8.36602 14.9286 8.50781V9.36719C14.9286 9.50898 14.8141 9.625 14.6741 9.625H5.68304C5.54308 9.625 5.42857 9.50898 5.42857 9.36719V8.50781ZM16.1754 19.25H4.07143C3.32076 19.25 2.71429 18.6355 2.71429 17.875C2.71429 17.1187 3.325 16.5 4.07143 16.5H16.1754C16.0949 17.2348 16.0949 18.5152 16.1754 19.25Z" fill="#000091"/>
      </svg>
    </a>
    <a href="../../ressource/add" class="plus">
      <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.8571 0.4375H2.14286C0.959821 0.4375 0 1.40332 0 2.59375V18.4062C0 19.5967 0.959821 20.5625 2.14286 20.5625H17.8571C19.0402 20.5625 20 19.5967 20 18.4062V2.59375C20 1.40332 19.0402 0.4375 17.8571 0.4375ZM16.4286 11.7578C16.4286 12.0543 16.1875 12.2969 15.8929 12.2969H11.7857V16.4297C11.7857 16.7262 11.5446 16.9688 11.25 16.9688H8.75C8.45536 16.9688 8.21429 16.7262 8.21429 16.4297V12.2969H4.10714C3.8125 12.2969 3.57143 12.0543 3.57143 11.7578V9.24219C3.57143 8.9457 3.8125 8.70312 4.10714 8.70312H8.21429V4.57031C8.21429 4.27383 8.45536 4.03125 8.75 4.03125H11.25C11.5446 4.03125 11.7857 4.27383 11.7857 4.57031V8.70312H15.8929C16.1875 8.70312 16.4286 8.9457 16.4286 9.24219V11.7578Z" fill="#000091"/>
      </svg>
    </a>
    <a class="heart">
      <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.0586 1.4453C15.918 -0.378922 12.7344 -0.0507967 10.7695 1.97655L10 2.76952L9.23047 1.97655C7.26953 -0.0507967 4.08203 -0.378922 1.9414 1.4453C-0.51172 3.53905 -0.640626 7.29686 1.55469 9.56639L9.11328 17.3711C9.60156 17.875 10.3945 17.875 10.8828 17.3711L18.4414 9.56639C20.6406 7.29686 20.5117 3.53905 18.0586 1.4453Z" fill="#000091"/>
      </svg>
    </a>
    <a v-if="is_connected == 1" href="../../user" class="user">
      <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 9.5C10.525 9.5 12.5714 7.37363 12.5714 4.75C12.5714 2.12637 10.525 0 8 0C5.475 0 3.42857 2.12637 3.42857 4.75C3.42857 7.37363 5.475 9.5 8 9.5ZM11.2 10.6875H10.6036C9.81071 11.066 8.92857 11.2812 8 11.2812C7.07143 11.2812 6.19286 11.066 5.39643 10.6875H4.8C2.15 10.6875 0 12.9215 0 15.675V17.2188C0 18.2021 0.767857 19 1.71429 19H14.2857C15.2321 19 16 18.2021 16 17.2188V15.675C16 12.9215 13.85 10.6875 11.2 10.6875Z" fill="#000091"/>
      </svg>
    </a>
    <a v-else href="../../login" class="user">
      <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 9.5C10.525 9.5 12.5714 7.37363 12.5714 4.75C12.5714 2.12637 10.525 0 8 0C5.475 0 3.42857 2.12637 3.42857 4.75C3.42857 7.37363 5.475 9.5 8 9.5ZM11.2 10.6875H10.6036C9.81071 11.066 8.92857 11.2812 8 11.2812C7.07143 11.2812 6.19286 11.066 5.39643 10.6875H4.8C2.15 10.6875 0 12.9215 0 15.675V17.2188C0 18.2021 0.767857 19 1.71429 19H14.2857C15.2321 19 16 18.2021 16 17.2188V15.675C16 12.9215 13.85 10.6875 11.2 10.6875Z" fill="#000091"/>
      </svg>
    </a>
  </div>
</template>

<script>
import $ from "jquery";
const is_connected = $("input#is_connected").val();

export default {
  name: "FooterMobile",
  data() {
    return {
      is_connected: is_connected
    };
  }
}
</script>

<style scoped>
.footer{
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  height: 41px;
  left: 0;
  bottom: 0;

  background: #FFFFFF;
}

.heart{
  width: 20px;
  height: 20px;
}

.plus{
  width: 20px;
  height: 23px;
}

.book{
  width: 19px;
  height: 22px;
}

.home{
  width: 24px;
  height: 22px;
}

.user{
  width: 16px;
  height: 19px;
}

.separateur{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 100%;
  height: 1px;
  left: 0px;
  top: 0px;
}

.separateur div{
  height: 1px;
  /* light/primary/$blue-france-850 */
  background: #CACAFB;
  align-self: stretch;
}
</style>