{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ encore_entry_link_tags('listRessource') }}
 {% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('listRessource') }}
{% endblock %}

{% block body %}
    <div class="box" style="min-height: 43vh">
        <h3>Liste des ressources</h3>
        <div class="table table-hover table-striped table-responsive">
            <table id="datatables" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th class="titre_table">Actions</th>
                        <th class="titre_table">Nom de la ressource</th>
                        <th class="titre_table">Auteur de la ressource</th>
                        <th class="titre_table">Type de ressource</th>
                        <th class="titre_table">Catégorie</th>
                        <th class="titre_table">Date de publication</th>
                        <th class="titre_table">Nombre de consultations</th>
                        <th class="titre_table">Nombre de favoris</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ressource in ressources %}
                        <tr>
                            <td>
                                <button class="btn btn-primary" onclick="window.location.href='../ressource/show/{{ ressource.getId() }}'">Voir</button>
                            </td>
                            <td>{{ ressource.getLibelleRessource() }}</td>
                            <td>{{ utilisateurs[loop.index0].pseudo }}</td>
                            <td>{{ typeRessources[loop.index0].getLibelleTypeRessource() }}</td>
                            <td>{{ categories[loop.index0].getLibelleCategorie() }}</td>
                            <td>{{ dateCreations[loop.index0] }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
