{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ encore_entry_link_tags('login_page') }}
 {% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login_page') }}
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div id="LoginGood"></div>
{% endblock %}

{% block footer %}
{% endblock %}