*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f6f6;
    overflow-x: hidden;
}

#HeaderDesktop{
    height: 182px;
    margin-bottom: 5vh;
}

.container{
    position: relative;
    margin-top: 5vh;
    margin-bottom: 5vh;
}