form{
    position: relative;
    height: auto;
    margin: 5vh 10% 5vh 10%;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
}

.form-header{
    border-bottom: solid #E5E5E5 1px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.form-header img{
    width: 32px;
    height: 32px;
    margin: 16px 4px 5px 16px;
}

.form-header h1{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin: 16px 0 5px 0;
}

.form-body{
    padding: 16px;
}

.form-body input{
    border: none;
    background-color: #e5e5e5;
    border-bottom: solid 1px black;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.form-body [type="checkbox"] {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.form-body [type="checkbox"] + label {
    align-items: center;
    position: absolute;
}

.form-body select{
    border: none;
    background-color: #e5e5e5;
    border-bottom: solid 1px black;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.form-body p{
    font-size: 14px;
}

.form-body [type="file"] {
    border: none;
    background: none;
}

.form-footer{
    border-top: solid #E5E5E5 1px;
    padding: 12px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

.form-footer button{
    border: none;
    border-radius: none;
    width: 142px;
    height: 40px;
    margin: 8px;
}

.form-footer #submit button{
    background-color: var(--bs-primary);
    color: white;
}

.form-footer #submit button:hover{
    background-color: #0909b9;
}

.form-footer button{
    background-color: white;
    color: var(--bs-primary);
    border: solid var(--bs-primary) 1px;
}

.form-footer button:hover{
    background-color: #e5e5e5;
}