// customize some Bootstrap variables
$primary: #000091;
$danger: #ce0500;
$success: #18753c;
$warning: #b34000;
$info: #0063cb;
$secondary: #3a3a3a;

@font-face {
    font-family: "Marianne";
    src: url("../fonts/Marianne/fontes web/Marianne-Regular.woff2") format("woff2"),
        url("../fonts/Marianne/fontes web/Marianne-Regular.woff") format("woff");

}

$font-family-sans-serif: "Marianne";
$font-family-monospace: "Marianne";
$font-family-base: "Marianne";
$font-family-code: "Marianne";

@import "~bootstrap/scss/bootstrap";