<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ressource relationnel{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ asset('img/logo.ico') }}" />
        <link rel="manifest"  href="{{ asset('manifest.json') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <input type="hidden" id="is_connected" value="{{ auth }}">
            <HeaderGood id="HeaderGood"></HeaderGood>
        {% endblock %}
        {%  block body %}
            {{ auth}}
        {% endblock %}
        {% block footer %}
            <FooterGood id="FooterGood"></FooterGood>
        {% endblock %}
        <script>
        if('serviceWorker' in navigator){
            navigator.serviceWorker.register("{{ asset('sw.js') }}")
            .then(function(registration){
                console.log("Service Worker Registered !");
            })
            .catch(function(err){
                console.log('Service Worker Failed !', err);
            });
        }
        </script>
    </body>
    
</html>
