{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ encore_entry_link_tags('homepage') }}
 {% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}

{% block body %}
        <div class="container" style="min-height: 43vh;">
            Bienvenue sur la plateforme (RE)ssources Relationnelles.<br>
            Un site qui vous permettra d'échanger entre citoyens des ressources afin d'améliorer votre vie.<br>
            Vous trouverez donc sur ce site des documents ainsi que des jeux qui vous aideront à vous développer.<br>
        </div>
{% endblock %}